<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quick Schedule Patrol Summary</title>
</head>
<body>
    <center><h1>Quick Patrol Summary</h1></center>
      <br>
      <hr>
      <table style="width: 100%">
        <tr>
          <td><b>Project</b></td>
          <td>{{  project.name }}</td>
          <td><b>Staff</b></td>
          <td>{{ quickSchedulePatrol.user.profile.name }}</td>
        </tr>
        <tr>
          <td><b>Patrol Schedule</b></td>
          <td>{{  quickSchedulePatrol.patrolSchedule ? quickSchedulePatrol.patrolSchedule.name : '' }}</td>
          <td><b>Start Date</b></td>
          <td>{{ momentTz.utc(quickSchedulePatrol.startAt.toFormat('yyyy-MM-dd HH:mm:ss')).tz(timezone).format('YYYY-MM-DD HH:mm') }}</td>
        </tr>
        <tr>
          <td><b>Total Checkpoints</b></td>
          <td>{{ quickSchedulePatrol.checkpoints.length }}</td>
          <td><b>End Date</b></td>
          <td>{{ quickSchedulePatrol.endAt ? momentTz.utc(quickSchedulePatrol.endAt.toFormat('yyyy-MM-dd HH:mm:ss')).tz(timezone).format('YYYY-MM-DD HH:mm') : 'PENDING' }}</td>
        </tr>
        <tr>
          <td><b>Total Visited</b></td>
          <td>{{ quickSchedulePatrol.checkpoints.filter(checkpoint => checkpoint.createdAt).length }}</td>
          <td><b>Duration</b></td>
          <td>{{ duration ? duration : 'PENDING' }}</td>
        </tr>
        <tr>
          <td><b>Total Missed</b></td>
          <td>{{ quickSchedulePatrol.checkpoints.length - quickSchedulePatrol.checkpoints.filter(checkpoint => checkpoint.createdAt).length }}</td>
          <td><b>Status</b></td>
          <td>{{ quickSchedulePatrol.status }}</td>
        </tr>
      </table>
      <center><h3>Checkpoints</h3></center>
      <table style="width: 100%" border="1">
        <tr>
          <th>No</th>
          <th>Checkpoint No</th>
          <th>Checkpoint Name</th>
          <th>Status</th>
        </tr>
        @each((checkpoint, index) in quickSchedulePatrol.checkpoints)
          @if(!checkpoint.status)
            <tr style="color: red;">
              <td>{{ index + 1 }}</td>
              <td>{{ checkpoint.checkpoint.phoneNumber }}</td>
              <td>{{ checkpoint.checkpoint.name }}</td>
              <td>{{ checkpoint.createdAt ? momentTz.utc(checkpoint.createdAt.toFormat('yyyy-MM-dd HH:mm:ss')).tz(timezone).format('YYYY-MM-DD HH:mm') : 'MISSED'  }}</td>
            </tr>
          @else
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ checkpoint.checkpoint.phoneNumber }}</td>
              <td>{{ checkpoint.checkpoint.name }}</td>
              <td>{{ checkpoint.createdAt ? momentTz.utc(checkpoint.createdAt.toFormat('yyyy-MM-dd HH:mm:ss')).tz(timezone).format('YYYY-MM-DD HH:mm') : 'MISSED'  }}</td>
            </tr>
          @end
        @end
      </table>
      <hr>
      <br>
</body>
</html>
